@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color orangered #ee99a0;
@define-color orange #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color blue #91d7e3;
@define-color black #393552;
@define-color black2 #6e6a86;
@define-color white #cad3f5;

#waybar {
  font-family: "JetBrainsMono Nerd Font Propo";
  background: transparent;
  margin-bottom: 0;
}

#window {
  margin-right: 350px;
}

tooltip {
  font-family: "JetBrainsMono Nerd Font Propo";
  background: @black;
  opacity: 0.9;
  color: @white;
  border-radius: 4px;
  border: 1px solid @black2;
  padding: 4px;
  text-shadow: none;
}

#spacetime,
#battemp,
#cpugpu,
#pulseaudio,
#network,
#disk,
#custom-media,
#custom-poweroff {
  background: @black;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 4px;
}

#clock {
  color: @green;
}

#battery {
  color: @yellow;
  padding-left: 12px;
}

#temperature {
  color: @yellow;
}

#memory {
  color: @orange;
  padding-left: 12px;
}

#cpu {
  color: @orange;
}

#disk {
  color: @red;
}

#pulseaudio {
  color: @mauve;
}

#network {
  color: @pink;
}

#custom-media {
  margin-left: 50px;
  color: @white;
}

#custom-poweroff {
  margin-left: 4px;
  color: @white;
}

#workspaces button.active {
  background: @black;
  color: @white;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 4px;
}

#workspaces button {
  margin: 4px;
  padding: 4px 8px;
  border-radius: 4px;
}
